<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application>
        <provider
            android:name=".provider.InitChatProvider"
            android:authorities="@${applicationId}.chatInit"
            android:exported="false" />

        <activity
            android:name=".chat.IChatActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".forward.IForwardSelectorActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>